@font-face {
  font-family: "Source Sans 3";
  src: url("fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("fonts/SourceSans3-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 900;
  font-style: italic;
}

html,
body,
* {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400; /* Utilisation d'une valeur normale. Vous pouvez la modifier pour obtenir des poids différents. */
}

h1 {
  font-weight: 800; /* Plus gras */
}

b {
  font-weight: 650;
}

em {
  font-style: italic; /* Italique */
}

@for $i from 2 through 9 {
  .fw-#{$i}00 {
    font-weight: $i * 100;
  }
}

.lhn {
  line-height: normal;
}
